{% extends 'base.html' %}
{% block bodyblock %}
    <div class="centered-hardly">
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper" style="margin-top: 10px;">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div>
    <button style="margin-left:0;" class="btn login-button" type="submit">Log In</button>
</form></div>
{% endblock %}